@font-face {
    font-family: "Averta-Black";
    src: url("../fonts/Averta.woff") format("woff"),
        url("../fonts/Averta.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "Averta-bold";
    src: url("../fonts/Averta-Bold.woff") format("woff"),
        url("../fonts/Averta-Bold.woff") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Averta-semiBold";
    src: url("../fonts/Averta-Semibold-Italic.woff") format("woff"),
        url("../fonts/Averta-Semibold-Italic.otf") format("opentype");
    font-weight: 600;
}




/* NAVBAR LINK */
.n-links {
    height: 20px;
    font-size: 16px;
    line-height: 19px;
    color: #514949 !important;
    font-family: Averta-Black;
}

.n-links:hover {
    color: #E7332B !important;
}

@font-face {
    font-family: 'myfont';
    src: url("/fonts/Averta.woff");
    font-style: normal;
}


/* IMAGE OVERLAY */
.containers {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* THIS STYLING IS FOR THE HEADERS */
header {
    font-family: myfont;
    transition: all 0.5s;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header .h-btn {
    background: #E7332B;
    border-radius: 0;
}

@media screen and (min-width: 1000px) {
    header .h-btn {
        margin-left: 100px;
    }
}

/* ########################## */

/* THIS STYLING IS FOR THE FOOTER */
footer {
    margin-top: 121px;
    line-height: 20px;
}

footer h4, .copyright {
    line-height: 24px;
}

footer h4 {
    margin-bottom: 24px;
}

footer .nav-link {
    padding-top: 4px;
    padding-bottom: 4px;
    color: #514949;
}

footer .nav-link:hover {
    text-decoration: underline;
}

.facebook-link {
    color: #3b5998;
    font-size: 20px;
}

.twitter-link {
    color: #00acee;
    font-size: 20px;
}

.copyright {
    margin-top: 56px;
    padding: 32px 0 46px;
    border-top: 0.7px solid #514949;
}



/* ############################ */

@media (min-width:480px) {
    .footerCentre {
        text-align: center !important;
    }
}